[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
jedi = "*"
tox = "*"
sphinx = "*"
coverage-badge = "*"
pallets-sphinx-themes = "*"
mypy = "*"

[packages]
requests = "*"
click = "*"

[requires]
python_version = "3.7"
